$color: red // 测试
$headerIconSize = 16px // 
$headerTouXiang = 20px // 头部-头像大小
$headerHeight = 50px // 头部高度
$asideMinWidth = 60px // 左侧导航最小宽度
$asideMaxWidth = 200px // 左侧导航最大宽度
$mainPadding = 20px // 内容区域内边距
$asideSwitchTop = 112px // 左侧导航展开收起按钮距离顶部的距离


:export {
  stylColor: $color
  headerHeight: $headerHeight
  asideMinWidth: $asideMinWidth
  asideMaxWidth: $asideMaxWidth
}
